<main class="main-container">
    <section class="custom-section">
        <h2>Studies</h2>

        <div class="card">
            <div class="card-header">
                Full Stack web development
            </div>
            <div class="card-body">
              <div class="blockquote mb-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Tools, technologies, and methodologies learned:</li>
                        <li class="list-group-item">
                            <div class="card-body long-list">
                                <ul class="list-group list-group-horizontal-xxl">
                                    <li class="list-group-item ellipsis"><span (click)="showFullText($event)">HTML5</span></li>
                                    <li class="list-group-item ellipsis"><span (click)="showFullText($event)">CSS 3</span></li>
                                    <li class="list-group-item ellipsis"><span (click)="showFullText($event)">JavaScript</span></li>
                                    <li class="list-group-item ellipsis"><span (click)="showFullText($event)">jQuery</span></li>
                                    <li class="list-group-item ellipsis"><span (click)="showFullText($event)">Mocha - Chai</span></li>
                                    <li class="list-group-item ellipsis"><span (click)="showFullText($event)">Git - GitHub</span></li>
                                    <li class="list-group-item ellipsis"><span (click)="showFullText($event)">GitFlow</span></li>
                                </ul>
                                <ul class="list-group list-group-horizontal-xxl">
                                    <li class="list-group-item ellipsis"><span (click)="showFullText($event)">Node.js</span></li>
                                    <li class="list-group-item ellipsis"><span (click)="showFullText($event)">Express.js</span></li>
                                    <li class="list-group-item ellipsis"><span (click)="showFullText($event)">mySQL</span></li>
                                    <li class="list-group-item ellipsis"><span (click)="showFullText($event)">MVC</span></li>
                                    <li class="list-group-item ellipsis"><span (click)="showFullText($event)">OOP</span></li>
                                    <li class="list-group-item ellipsis"><span (click)="showFullText($event)">Visual Studio code</span></li>
                                    <li class="list-group-item ellipsis"><span (click)="showFullText($event)">Agile methodologies</span></li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item list-group-item-dark">Status: Complete.</li>
                    </ul>
                    <footer class="blockquote-footer">
                        <img src="../../../assets/logo-acamica.png" alt="Acamica logo">
                        <a target="_blank" href="https://www.acamica.com/">Acámica</a>
                    </footer>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header">
                Astronomy
            </div>
            <div class="card-body">
              <div class="blockquote mb-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Topics learned (program 2013):</li>
                        <li class="list-group-item">
                            <span class="card-body long-list">
                                <ul class="list-group list-group-horizontal-xxl">
                                    <li class="list-group-item ellipsis" (click)="showFullText($event)">Logic</li>
                                    <li class="list-group-item ellipsis" (click)="showFullText($event)">Mathematical analysis</li>
                                    <li class="list-group-item ellipsis" (click)="showFullText($event)">Algebra</li>
                                    <li class="list-group-item ellipsis" (click)="showFullText($event)">Physics (basic mechanics, electromagnetism, thermodynamics, fluidodynamics)</li>
                                    <li class="list-group-item ellipsis" (click)="showFullText($event)">Experimental physics</li>
                                    <li class="list-group-item ellipsis" (click)="showFullText($event)">Astrophisics</li>
                                    <li class="list-group-item ellipsis" (click)="showFullText($event)">Position astronomy</li>
                                </ul>
                            </span>
                        </li>
                        <li class="list-group-item list-group-item-dark">Status: Complete up to "Astronomía esférica" (Spherical astronomy). Check full program <a target="_blank" href="http://www.famaf.unc.edu.ar/academica/grado/licenciatura-en-astronom%C3%ADa/">here</a></li>
                    </ul>
                    <footer class="blockquote-footer">
                        <img src="../../../assets/logo-famaf.png" alt="FaMAF logo">
                        <a target="_blank" href="https://www.famaf.unc.edu.ar/">National University of Córdoba - FaMAF</a>
                    </footer>
                </div>
            </div>
        </div>
    </section>
</main>