<main class="main-container">
    <section class="custom-section">
        <h2>Studies</h2>

        <div class="card">
            <div class="card-header">
                Full Stack web development
            </div>
            <div class="card-body">
              <div class="blockquote mb-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Tools, technologies, and methodologies learned:</li>
                        <li class="list-group-item">
                            <span class="card-body long-list">
                                <ul class="list-group list-group-horizontal-xxl">
                                    <li class="list-group-item">HTML5</li>
                                    <li class="list-group-item">CSS 3</li>
                                    <li class="list-group-item">JavaScript</li>
                                    <li class="list-group-item">jQuery</li>
                                    <li class="list-group-item">Mocha - Chai</li>
                                    <li class="list-group-item">Git - GitHub</li>
                                    <li class="list-group-item">GitFlow</li>
                                </ul>
                                <ul class="list-group list-group-horizontal-xxl">
                                    <li class="list-group-item">Node.js</li>
                                    <li class="list-group-item">Express.js</li>
                                    <li class="list-group-item">mySQL</li>
                                    <li class="list-group-item">MVC</li>
                                    <li class="list-group-item">OOP</li>
                                    <li class="list-group-item">Visual Studio code</li>
                                    <li class="list-group-item">Agile methodologies</li>
                                </ul>
                            </span>
                        </li>
                        <li class="list-group-item list-group-item-dark">Status: Complete.</li>
                    </ul>
                    <footer class="blockquote-footer">
                        <img src="../../../assets/logo-acamica.png" alt="Acamica logo">
                        <a target="_blank" href="https://www.acamica.com/">Acámica</a>
                    </footer>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header">
                Astronomy
            </div>
            <div class="card-body">
              <div class="blockquote mb-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Topics learned (program 2013):</li>
                        <li class="list-group-item">
                            <span class="card-body long-list">
                                <ul class="list-group list-group-horizontal-xxl">
                                    <li class="list-group-item">Logic</li>
                                    <li class="list-group-item">Mathematical analysis</li>
                                    <li class="list-group-item">Algebra</li>
                                    <li class="list-group-item">Physics (basic mechanics, electromagnetism, thermodynamics, fluidodynamics)</li>
                                    <li class="list-group-item">Experimental physics</li>
                                    <li class="list-group-item">Astrophisics</li>
                                    <li class="list-group-item">Position astronomy</li>
                                </ul>
                            </span>
                        </li>
                        <li class="list-group-item list-group-item-dark">Status: Complete up to "Astronomía esférica" (Spherical astronomy). Check full program <a target="_blank" href="http://www.famaf.unc.edu.ar/academica/grado/licenciatura-en-astronom%C3%ADa/">here</a></li>
                    </ul>
                    <footer class="blockquote-footer">
                        <img src="../../../assets/logo-famaf.png" alt="FaMAF logo">
                        <a target="_blank" href="https://www.famaf.unc.edu.ar/">National University of Córdoba - FaMAF</a>
                    </footer>
                </div>
            </div>
        </div>
    </section>
</main>