<main class="main-container">
    <section class="custom-section">
        <h2>Studies</h2>

        <div class="card">
            <div class="card-header">
                Full Stack web development
            </div>
            <div class="card-body">
              <div class="blockquote mb-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Tools, technologies, and methodologies learned:</li>
                        <li class="list-group-item">
                            <ul>
                                <li>HTML5</li>
                                <li>CSS 3</li>
                                <li>JavaScript</li>
                                <li>jQuery</li>
                                <li>Mocha - Chai</li>
                                <li>Git - GitHub</li>
                                <li>GitFlow</li>
                                <li>Node.js</li>
                                <li>Express.js</li>
                                <li>mySQL</li>
                                <li>MVC</li>
                                <li>OOP</li>
                            </ul>
                        </li>
                        <li class="list-group-item list-group-item-dark">Status: Complete.</li>
                    </ul>
                    <footer class="blockquote-footer">
                        <img src="../../../assets/logo-acamica.png" alt="Acamica logo">
                        <a target="_blank" href="https://www.acamica.com/">Acámica</a>
                    </footer>
                </div>
            </div>
        </div>
    </section>
</main>