.custom-section {
    .card {
        margin-bottom: 1rem;
    
        .card-body {
            .list-group-item {

                .long-list {
                    display: flex;
            
                    ul {
                        width: 100%;
                    }
                }

                &.list-group-item-dark {
                    border-radius: 5px;
                }
            }

            footer {
                margin-top: 1rem;

                img {
                    height: 1.5rem;
                    margin: 0 1rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    
    .long-list {
        flex-wrap: wrap;
    }

    .ellipsis {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}