<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Carla Girardini</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" [routerLink]="['home']">Home</a>
      <a class="nav-link" [routerLink]="['studies']">Studies</a>
      <a class="nav-link" [routerLink]="['experience']">Experience</a>
      <a class="nav-link" [routerLink]="['portfolio']">Portfolio</a>
    </div>
    <!-- <div class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="#">Studies</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="#">Experience</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="#">Portfolio</a>
    </div> -->
  </div>
</nav>
