<main class="main-container">

    <h1 class="main-title">Resume</h1>

    <section class="custom-section">
        <div class="card">
            <div class="card-header">
              About
            </div>
            <div class="card-body">
              <div class="blockquote mb-0">
                <p>
                    I am a web developer focused on front-end development with the Angular framework. I have studied Full Stack Web Development, and I am also trained in science studies due to a three-year BS course on Astronomy.
                </p>
                <p>
                    I have experience working in web development as well as technical areas, writing documentation, clear communication, and teaching.
                </p>
                <p>
                    I live in Ann Arbor, MI, with an Employment Authorization Document card issued by USCIS that allows me to work for any employer. I am looking for new opportunities to further enhance my skills.
                </p>
            </div>
            </div>
        </div>
    </section>

    <section class="custom-section">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card h-100">
                    <div class="card-header">
                      Software skills
                    </div>
                    <div class="card-body long-list">
                        <ul class="list-group list-group-vertical-xxl">
                            <li class="list-group-item">HTML 5</li>
                            <li class="list-group-item">CSS3</li>
                            <li class="list-group-item">JavaScript</li>
                            <li class="list-group-item">TypeScript</li>
                            <li class="list-group-item">Angular</li>
                            <li class="list-group-item">Mocha - Chai</li>
                            <li class="list-group-item">OOP</li>
                            <li class="list-group-item">TDD</li>
                            <li class="list-group-item">MVC</li>
                        </ul>
                        <ul class="list-group list-group-vertical-xxl">
                            <li class="list-group-item">Bootstrap</li>
                            <li class="list-group-item">jSON</li>
                            <li class="list-group-item">Node.js</li>
                            <li class="list-group-item">Express.js</li>
                            <li class="list-group-item">ReST APIs</li>
                            <li class="list-group-item">Git</li>
                            <li class="list-group-item">GitHub - GitLab</li>
                            <li class="list-group-item">SQL</li>
                            <li class="list-group-item">InkScape</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-header">
                      Skills
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-vertical-xxl">
                            <li class="list-group-item">Web development</li>
                            <li class="list-group-item">Mathematics and algorithms</li>
                            <li class="list-group-item">Teaching</li>
                            <li class="list-group-item">Team organization</li>
                            <li class="list-group-item">Project organization</li>
                            <li class="list-group-item">Team work</li>
                            <li class="list-group-item">Interdisciplinary work</li>
                            <li class="list-group-item">Clear and efficient comunication</li>
                            <li class="list-group-item">Writing technical documentation</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-header">
                      Willing to
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              Work on site
                                <span class="badge form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" disabled checked>
                                    <label class="form-check-label" for="flexSwitchCheckChecked">Yes</label>
                                </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              Work remote
                                <span class="badge form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" disabled checked>
                                    <label class="form-check-label" for="flexSwitchCheckChecked">Yes</label>
                                </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              Work hybrid
                                <span class="badge form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" disabled checked>
                                    <label class="form-check-label" for="flexSwitchCheckChecked">Yes</label>
                                </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              Work full-time
                                <span class="badge form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" disabled checked>
                                    <label class="form-check-label" for="flexSwitchCheckChecked">Yes</label>
                                </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              Work part-time
                                <span class="badge form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" disabled checked>
                                    <label class="form-check-label" for="flexSwitchCheckChecked">Yes</label>
                                </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              Relocate
                                <span class="badge form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" disabled>
                                    <label class="form-check-label" for="flexSwitchCheckChecked">No</label>
                                </span>
                            </li>
                          </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-header">
                      Languages
                    </div>
                    <div class="card-body long-list">
                        <ul class="list-group list-group-vertical-xxl">
                            <li class="list-group-item">Spanish</li>
                            <li class="list-group-item">English</li>
                            <li class="list-group-item">Italian</li>
                        </ul>
                        <ul class="list-group list-group-vertical-xxl">
                            <li class="list-group-item">Native</li>
                            <li class="list-group-item">Advanced</li>
                            <li class="list-group-item">Beginner</li>
                        </ul>
                    </div>
                </div>
            </div>
          </div>
    </section>
</main>