.custom-section {
    .card {
        margin-bottom: 1rem;

        .card-body {
            .list-group-item {
                time {
                    font-style: italic;
                    font-weight: 100;
                }

                &.date-item {
                    font-size: 0.7em;
                    font-style: italic;
                    text-align: end;
                }
            }
        }
    }
}