<main class="main-container">
    <section class="custom-section">
        <h2>Publications</h2>

        <div class="card">
            <div class="card-header">
                I participated collecting observational data for the following publications:
            </div>
            <div class="card-body">
              <div class="blockquote mb-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a target="_blank" href="https://ui.adsabs.harvard.edu/abs/2020MPBu...47..188C/abstract">Asteroid Photometry and Lightcurve Analysis at Gora's Observatories</a> -  Colazo, Milagros; Fornari, César; Santucho, Marcos; Mottino, Aldo; Colazo, Carlos; Melia, Raúl; ... ; Oey, Julian - The Minor Planet Bulletin (ISSN 1052-8091). Bulletin of the Minor Planets Section of the Association of Lunar and Planetary Observers, Vol. 47, No. 3, pp. 188-191 (2020) - <time>July 2020</time></li>
                        <li class="list-group-item"><a target="_blank" href="https://www.sciencedirect.com/science/article/pii/S2213133718300982">Machine Learning on Difference Image Analysis: A comparison of methods for transient detection</a> - B. Sánchez; M. J. Domínguez R.; M. Lares; M. Beroiz; J. B. Cabral; S. Gurovich; ... ; M. C. Díaz - Astronomy and Computing, Volume 28, article id. 100284. - <time>July 2019</time></li>
                        <li class="list-group-item"><a target="_blank" href="https://www.sciencedirect.com/science/article/pii/S003206331830415X">Results of the investigation of the asteroid (2121) Sevastopol based on photometric observations of mutual phenomena</a> - Iraida A. Sokova; Eugenii N. Sokov; Denis L. Gorshanov; Eduardo Fernández-Lajús; Romina di Sisto; Marc Bretton; ... ; Carla Girardini. - Planetary and Space Science - <time>May 2019</time></li>
                        <li class="list-group-item"><a target="_blank" href="https://arxiv.org/abs/1901.02960">TOROS Optical follow-up of the Advanced LIGO-VIRGO O2 second observational campaign</a> - Rodolfo Artola; Martin Beroiz; Juan Cabral; Richard Camuccio; Moises Castillo; Vahram Chavushyan; ... ; Adam Zadrożny - eprint arXiv:1901.02960 - <time>January 2019</time></li>
                        <li class="list-group-item"><a target="_blank" href="https://ui.adsabs.harvard.edu/abs/2018yCat..18489029D/abstract">VizieR Online Data Catalog: Opt. follow-up of GW170817 counterpart (Diaz+, 2017)</a> - Diaz, M. C.; Macri, L. M.; Garcia Lambas, D.; Mendes de Oliveira, C.; Nilo Castellon, J. L.; Ribeiro, T.; … ; Zadrozny, A. - VizieR On-line Data Catalog: J/ApJ/848/L29. Originally published in: 2017ApJ...848L..29D - <time>June 2018</time></li>
                        <li class="list-group-item"><a target="_blank" href="https://iopscience.iop.org/article/10.3847/2041-8213/aa91c9">Multi-messenger Observations of a Binary Neutron Star Merger</a> - Abbott, B. P.; Abbott, R.; Abbott, T. D.; Acernese, F.; Ackley, K.; Adams, C.; … ; South Africa/MeerKAT, SKA - The Astrophysical Journal Letters, Volume 848, Issue 2, article id. L12, pp. (2017) - <time>October 2017</time></li>
                        <li class="list-group-item"><a target="_blank" href="https://iopscience.iop.org/article/10.3847/2041-8213/aa9060">Observations of the First Electromagnetic Counterpart to a Gravitational-wave Source by the TOROS Collaboration</a> - Díaz, M. C.; Macri, L. M.; Garcia Lambas, D.; Mendes de Oliveira, C.; Nilo Castellón, J. L.; Ribeiro, T.; … ; Zadrożny, A. - The Astrophysical Journal Letters, Volume 848, Issue 2, article id. L29, 5 pp. (2017) - <time>October 2017</time></li>
                        <li class="list-group-item"><a target="_blank" href="https://ui.adsabs.harvard.edu/abs/2017GCN.21895....1D/abstract">LIGO/Virgo G298048: TOROS photometry of SSS17a</a> -  Diaz, M.; Macri, L.; Nilo Castellon, J. L.; Sanchez, B.; Mendes, C.; Colazo, C.; ... ; Toros Collaboration - GRB Coordinates Network, Circular Service, No. 21895 - <time>September 2017</time></li>
                        <li class="list-group-item"><a target="_blank" href="https://www.researchgate.net/publication/316220787_NEW_DETERMINATION_OF_PHYSICAL_AND_ORBITAL_PARAMETERS_OF_2121_SEVASTOPOL_BINARY_ASTEROID">New determination of physical and orbital parameters of 2121 Sevastopol binary asteroid</a> - Romina Di Sisto; Iraida A. Sokova; Eugene N. Sokov; Denis L. Gorshanov; Eduardo Fernández-Lajús; Marc Bretton; … ; Carla Girardini - Poster ACM2017 Montevideo - <time>April 2017</time></li>
                        <li class="list-group-item"><a target="_blank" href="https://ui.adsabs.harvard.edu/abs/2017OEJV..179....1J/abstract">B.R.N.O. Contributions #40 Times of minima</a> - Juryšek, J.; Hoňková, K.; Šmelcer, L.; Mašek, M.; Lehký, M.; Bílek, F.; … ; Ziková, A. - Open European Journal on Variable stars, Vol. 179, p. 1 - <time>March 2017</time></li>
                        <li class="list-group-item"><a target="_blank" href="https://iopscience.iop.org/article/10.3847/2041-8205/828/2/L16">GW150914: First Search for the Electromagnetic Counterpart of a Gravitational-wave Event by the TOROS Collaboration</a> - Díaz, Mario C.; Beroiz, Martín; Peñuela, Tania; Macri, Lucas M.; Oelkers, Ryan J.; Yuan, Wenlong; … ; Key, Joey - The Astrophysical Journal Letters, Volume 828, Issue 2, article id. L16, 6 pp. (2016) - <time>September 2016</time></li>
                        <li class="list-group-item"><a target="_blank" href="https://ui.adsabs.harvard.edu/abs/2014MPEC....A...56S/abstract">2014 AL29</a> -  Stevens, B. L.; Ries, J. G.; Linder, T.; Holmes, R.; Melia, R.; Schneiter, M.; ... ; Hug, G. - Minor Planet Electronic Circ., No.2014-A56 (2014) - <time>January 2014</time></li>
                        <li class="list-group-item"><a target="_blank" href="https://ui.adsabs.harvard.edu/abs/2013MPEC....W...02B/abstract">2013 VB17</a> -  Buzzi, L.; Bressi, T. H.; Mastaler, R. A.; Asami, A.; Nishiyama, K.; Stevens, B. L.; ... ; Sato, H. - Minor Planet Electronic Circ., No.2013-W02 (2013) - <time>November 2013</time></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="custom-section">
        <h2>Conferences</h2>
        
        <div class="card">
            <div class="card-header">
                6<sup>th</sup> Encuentro Nacional de Estudiantes de Astronomía (National Astronomy Students Meeting)
            </div>
            <div class="card-body">
              <div class="blockquote mb-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item date-item">October 3<sup>rd</sup> to October 6<sup>th</sup> 2018</li>
                        <li class="list-group-item">Organizer of the 6<sup>th</sup> National Astronomy Students Meeting at Córdoba, Argentina.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                5<sup>th</sup> Encuentro Nacional de Estudiantes de Astronomía (National Astronomy Students Meeting)
            </div>
            <div class="card-body">
              <div class="blockquote mb-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item date-item">October 3<sup>rd</sup> to October 6<sup>th</sup> 2017</li>
                        <li class="list-group-item">Oral expositor at the 5<sup>th</sup> National Astronomy Students Meeting at La Plata, Argentina.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                3<sup>rd</sup> Encuentro Nacional de Estudiantes de Astronomía (National Astronomy Students Meeting)
            </div>
            <div class="card-body">
              <div class="blockquote mb-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item date-item">October 7<sup>th</sup> to October 10<sup>th</sup> 2015</li>
                        <li class="list-group-item">Organizer of the 3<sup>rd</sup> National Astronomy Students Meeting at Córdoba, Argentina.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                2<sup>nd</sup> Encuentro Nacional de Estudiantes de Astronomía (National Astronomy Students Meeting)
            </div>
            <div class="card-body">
              <div class="blockquote mb-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item date-item">September 23<sup>rd</sup> to September 26<sup>th</sup> 2014</li>
                        <li class="list-group-item">Oral expositor at the 2<sup>nd</sup> National Astronomy Students Meeting at La Plata, Argentina.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                1<sup>st</sup> Encuentro Nacional de Estudiantes de Astronomía (National Astronomy Students Meeting)
            </div>
            <div class="card-body">
              <div class="blockquote mb-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item date-item">October 9<sup>th</sup> to October 11<sup>th</sup> 2013</li>
                        <li class="list-group-item">Atendee to the 2<sup>nd</sup> National Astronomy Students Meeting at Córdoba, Argentina.</li>
                    </ul>
                </div>
            </div>
        </div>

    </section>
</main>