<div class="card main-container">
  <div class="card-header">
    Estudios formales
  </div>
  <div class="card-body">
    <div class="mb-0 row-content">
      <div class="card" style="width: 18rem;" *ngFor="let study of formalStudies">
        <div class="card-header">
          {{ study.level }}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Institución:</strong> {{study.institution}}</li>
          <li class="list-group-item"><strong>Periodo:</strong> {{study.period}}</li>
          <li class="list-group-item"><strong>Estado:</strong> {{study.status}}</li>
          <li class="list-group-item" *ngIf="study.others != ''"><strong>Otros:</strong> {{study.others}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="card main-container">
  <div class="card-header">
    Cursos y certificaciones
  </div>
  <div class="card-body">
    <div class="mb-0 row-content">
      <div class="card" style="width: 18rem;" *ngFor="let course of courses">
        <div class="card-header">
          {{ course.title }}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Institución:</strong> {{course.institution}}</li>
          <li class="list-group-item"><strong>Periodo:</strong> {{course.period}}</li>
          <li class="list-group-item"><strong>Estado:</strong> {{course.status}}</li>
          <li class="list-group-item" *ngIf="course.notes != ''"><strong>Notas:</strong> {{course.notes}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
