div.row-content div.card {
  margin: 5px;
}

.row-content {
  flex-wrap: wrap;
}

#skillsCard .card {
  width: 18rem;
}

#skillsCard .card:last-child {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#softwareSkills {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

#frameworks {
  flex-direction: column;
  width: 18rem;
  /* justify-content: flex-start; */
}

#frameworks .card-header {
  height: min-content;
}

#frameworksContent {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

#frameworksContent li {
  display: block;
  width: 100%;
}
