<h1>Carla Micaela Girardini</h1>
<h2>Curriculum Vitae</h2>

<div class="row main-container">
  <div class="col-sm-4" style="padding-left: 0px;">
    <div class="card" style="width: 18rem; padding: 2px;">
      <img
        src="../../../../assets/img/Picture.png"
        class="card-img-top"
        alt="Profile picture"
        style="margin-bottom: 2px;"
      />
      <div class="card">
        <div class="card-header">
          Content
        </div>
        <div class="list-group list-group-flush">
          <button class="list-group-item" (click)="navigate('studies')">Studies</button>
          <button class="list-group-item" (click)="navigate('experience')">Experience</button>
          <button class="list-group-item" (click)="navigate('portfolio')">Portfolio</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-8" style="padding-right: 0px">
    <div class="card">
      <div class="card-header">Personal data</div>
      <div class="card-body">
        <div class="row" *ngFor="let item of data">
          <p class="col-sm-4">{{ item.key }}</p>
          <p class="col-sm-6">{{ item.value }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card main-container" style="height: 100%;">
  <div class="card-header">
    About me
  </div>
  <div class="card-body">
    <div class="mb-0">
      <p>
        My name is Carla Girardini. I am 27 years old, and I have finished my
        studies in Acámica's Full Stack Web Development course. I am also
        trained in science studies due to a three-year BA course on Astronomy at
        FaMAF - UNC (National University of Córdoba). I have experience working
        in web development as well as technical areas, writing
        scientific-instrumentation procedure manuals, clear communication,
        public attention, and teaching.
      </p>
      <p>
        I learn new skills quickly; I am responsible and proactive. I currently
        have a strong interest in web development and I am looking for new job
        opportunities in this area.
      </p>
    </div>
  </div>
</div>
