.card-header{
    background-color: #e0ece4;
}

.row-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 45%;
}

p a:link{
    color: #797a7e;
}

p a:hover{
    transform: scale(3);
}

p a:active{
    color: #797a7e;
}
