<ul class="nav nav-tabs custom-nav">
    <li class="nav-item">
      <a class="nav-link custom-nav-link" routerLinkActive="active" aria-current="page" [routerLink]="['home']">About me</a>
    </li>
    <!-- Dropdown item: -->
    <!-- <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </li> -->
</ul>