/* Color palette: https://colorhunt.co/palette/202019 */

body {
  background-color: #797a7e;
  font-family: "Raleway", sans-serif;
}

.main-container {
  margin: 20px;
}

h1,
h2 {
  text-align: center;
  font-family: "Cinzel Decorative", cursive;
}

.card-header {
  background-color: #e0ece4;
}

.row-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.customLink,
.customLink:link,
.customLink:active,
.customLink:hover {
  color: #797a7e;
  font-weight: 700
}
