/**********/
/* Colors */
/**********/

/* Color palette: https://coolors.co/palette/cad2c5-84a98c-52796f-354f52-2f3e46 */

$main-accent: #545d70;
$active: #908cb8;
$medium-accent: #9a84a9;
$light-accent: #c09a9f;
$light-background: #ffffff;

/*********/
/* Sizes */
/*********/