<div id="experience" class="card main-container mb-5">
  <div class="card-header">
    Experiencia laboral
  </div>
  <div class="card-body">
    <div id="experienceCard" class="mb-0 row-content">
      <div
        class="card"
        *ngFor="let exp of workExperience"
      >
        <div class="card-header">
          {{ exp.companyName }}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>Puesto:</strong> {{ exp.position }}
          </li>
          <li class="list-group-item">
            <strong>Periodo:</strong> {{ exp.period }}
          </li>
          <li class="list-group-item" *ngIf="exp.others != ''">
            <strong>Otros:</strong> {{ exp.others }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
