div.row-content div.card {
  margin: 5px;
}

.row-content {
  flex-wrap: wrap;
}

#experienceCard .card {
  width: 18rem;
}

@media only screen and (max-width: 768px) {
  /* Mobile design */

  #experience {
    margin: unset;
  }

  .card-body div .card {
    max-width: 100%;
    margin: 5px auto;
  }
}
